* {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

body {
    font-family: 'ABCSynt-Regular-Trial', serif;
}

svg:hover,
a:hover {
    opacity: 0.5;
    cursor: pointer;
}


/* //////////////////////////////////// */
/* //////////// @FONT-FACE //////////// */
/* //////////////////////////////////// */

@font-face {
    font-family: 'ABCSynt-Regular-Trial';
    src: url("../font/ABCSynt-Regular-Trial.otf");
}

@font-face {
    font-family: 'ABCSynt-Italic-Trial';
    src: url("../font/ABCSynt-Italic-Trial.otf");
}

@font-face {
    font-family: 'ABCSynt-Turbo-Trial';
    src: url("../font/ABCSynt-Turbo-Trial.otf");
}

@font-face {
    font-family: 'ABCWhyteInktrap-Medium';
    src: url("../font/ABCWhyteInktrap-Medium.otf");
}