/* //////////////////////////////////// */
/* ////////////// PROJET ////////////// */
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* /////////////// GRID /////////////// */
/* //////////////////////////////////// */

.container_12 {
    width: 99.5%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 5%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    float: left;
    display: flex;
    position: relative;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 0.25%;
}

.grid_12#ligneblanche {
    float: inherit;
}

.container_12 .grid_1 {
    width: 7.8333%;
}

.container_12 .grid_2 {
    width: 16.1667%;
}

.container_12 .grid_3 {
    width: 24.5%;
}

.container_12 .grid_4 {
    width: 32.8333%;
}

.container_12 .grid_5 {
    width: 41.166%;
}

.container_12 .grid_6 {
    width: 49.5%;
}

.container_12 .grid_7 {
    width: 57.8%;
}

.container_12 .grid_8 {
    width: 66.1667%;
}

.container_12 .grid_9 {
    width: 74.5%;
}

.container_12 .grid_10 {
    width: 82.833%;
}

.container_12 .grid_11 {
    width: 91.166%;
}

.container_12 .grid_12 {
    width: 99.5%;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* //////////////////////////////////// */
/* ////////////// CONTENU ///////////// */
/* //////////////////////////////////// */

h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    font-family: 'ABCSynt-Turbo-Trial';
    font-size: 7vw;
    padding: 2vw;
    padding-left: 2vw;
    letter-spacing: -0.015em;
    width: 63.5vw;
    min-height: 18vw;
    z-index: 1000;
}

#FR,
#EN {
    font-size: 0.9vw;
    position: fixed;
    width: 15%;
    right: 5%;
    top: 40px;
    padding-right: 10px;
    padding-top: 4%;
    padding-bottom: 4%;
    z-index: -2;
}

#FR p:first-child,
#EN p:first-child {
    margin-bottom: 15px;
}

#FR p:not(:first-child),
#EN p:not(:first-child) {
    font-family: 'ABCSynt-Italic-Trial';
}

#EN {
    right: 0.5%;
}

#FR {
    right: 17.16667%;
}

p {
    display: flow;
}



.container_12 {
    background-color: white;
}

.container_12 img,
.container_12 video {
    width: 100%;
}




/* //////////////////////////////////// */
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* /////////// MEDIA QUERIES ////////// */
/* //////////////////////////////////// */

/* Portrait and Landscape */
@media only screen and (max-device-width: 1089px) {

    .container_12 {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        min-height: 0;
        min-width: 0;
    }

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .container_12 .grid_1,
    .container_12 .grid_2,
    .container_12 .grid_3,
    .container_12 .grid_4,
    .container_12 .grid_5,
    .container_12 .grid_6,
    .container_12 .grid_7,
    .container_12 .grid_8,
    .container_12 .grid_9,
    .container_12 .grid_10,
    .container_12 .grid_11,
    .container_12 .grid_12 {
        width: 96%;
    }

    h2 {
        padding-top: 18vw;
        font-size: 11vw;
        padding-left: 5vw;
        padding-bottom: 10vw;
        width: 90vw;
    }

    #description_projet {
        position: -webkit-sticky;
        position: sticky;
        z-index: -2;
    }

    #FR,
    #EN {
        width: 91vw;
        margin-left: 4vw;
        font-size: 3.5vw;
        position: static;
    }

    #FR p:first-child,
    #EN p:first-child {
        margin-bottom: 25px;
    }

    #FR p:not(:first-child),
    #EN p:not(:first-child) {
        font-family: 'ABCSynt-Italic-Trial';
    }

    #EN {
        right: 0%;
    }

    #FR {
        right: 17.16667%;
    }



}
